.DS_Store
*.swp
*.lock
.Trashes

DerivedData/
build/
*.xcworkspace/
xcuserdata/
*.xcscmblueprint
*~.nib
projects/*/fastlane/report.xml
projects/*/Preview.html
projects/*/fastlane/screenshots/
projects/*/fastlane/README.md
Pods/
~                                                                               
~                                                                               
~               
